---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="description" content="SWINCICKI">
<meta name="keywords" content="SWINCICKI, SKYWAYINCGLOBAL, youtube, Real Estate, Mortgage, Loan">
<meta name="author" content="ERDRICK SWINCICKI-MURAI">
<meta property="og:type" content="website">
<meta name="isbot" content="false" data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36 Edg/129.0.0.0">
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width,
initial-scale=1.0">
<meta http-equiv="X-UA-Compatible"
content="ie=edge">
<link rel="stylesheet" href="style.css">
<title>SWINCICKI</title>
<link rel="icon" href="favicon.ico" type="image/icon type">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-15T0BC9W2C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-15T0BC9W2C');
</script>

</head>

<body>
<div class="nav">
          <div class="logo">
              <img src="img/swincicki.png" alt="SWINCICKI">
           </div>   
</div>
<div class="main" id="parallax">
</div>
<div class="mid"></div>
<div class="next">&nbsp;</div>
<div class="last">

<div>
 <a id="peach" href="https://peach.swincicki.com">&nbsp</a>
</div>
<div>
<a class="book" href="https://eswincicki.wordpress.com/wp-content/uploads/2024/05/skywayplanetarysystem.pdf?force_download=true">&nbsp</a>
</div>
</div>
<script scr="main.js"></script>
</body>
<footer class="california-m">
© 2026 SKYWAYINCGLOBAL
</footer>
